@import url(http://fonts.googleapis.com/css?family=Sail);
@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps);
/* font-family: 'Sail', cursive; 
font-family: 'Elsie Swash Caps', cursive;*/
/* Css syntax:
selector {
	property: value;
	property: value;
}
*/

p {
	font-size: 1em;
	line-height: 1.5em;
}

figcaption {
	/*font-weight: normal;
	font-size: 0.75em;
	line-height: 1.5em;
	font-family: Georgia, "New Times Roman", serif;
	*/
	font: normal 0.5em/1em Georgia, "New Times Roman", serif;
	color: #777;
	text-align: normal;
}
/* Class selector*/
.milk-text {
	font: bold 2.6em 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
}

.shadow {
	box-shadow: 0 3px 10px #333;
}

.border-right {
	border-right: 1px dotted #ccc;
	padding-right: 30px;
}

/*/////////BACKGROUND////////*/
.grain-wood {
	background: url(../images/grain_wood_background.jpg) no-repeat center top;
	background-size: cover;
}
.light-fade {
	background: rgb(208,228,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}
.medium-fade {
	background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}

#feature-property {
	margin-top: 20px;
	background-size: 100%;
}

/* ID selector*/
#logo {
	padding: 84px 0 0;
}
/* Descendent selector*/
#logo h1{
	font-family: 'Sail', cursive;
	margin: 0;
}

#logo h2 {
	font-family: 'Elsie Swash Caps', cursive;
	margin: 0;
}

/*/////////DETAILS////////*/
/* Psuedo Selector */
#details {
	border-top: 1px solid white;
}
#details div {
	height: 221px;
}
#details a:link, #details a:visited /*both untouched and visited links have this feature*/ { 
	color: black;
	text-decoration: none;
}
#details a:hover {
	color: black;
	text-decoration: underline;
}
#details a:active {
	color: red;
}
/*/////////FOOTER////////*/
footer {
	text-align: center;
	font-size: 0.75em;
	padding: 10px;
	background: #eee;
	border-top: 1px solid #ccc;
}
/*/////////MEDIA////////*/
img, video, audio {
	max-width: 100%;
	min-width: 100%;
}

img {
	padding-top: 150px;
}
/*/////////LAYOUT////////*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 960px;
	margin: 0 auto;	
}
.col-1 {
	float: left;
	width: 32%;
	
} /* takes 1/3 of the 960px*/
.col-2 {
	float: left;
	width: 66%;
	
}/*takes 2/3 of the whole width 960px*/
.col-3 {

}/*takes the whole width*/

.clearfix:after {
	content:".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
[Class*="col-"] {
	margin-left: 2%;
}/*selects any element with class="col-"*/

.first {
	margin-left: 0%;
}/*the first column will not have left margin*/

/*/////////SECTIONS////////*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	margin 0 0 30px;
}

/*/////////NAVBAR////////*/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
#navbar nav {
	border-left: 1px solid #ccc;
	width: 960px;
	margin: 0 auto;
}
#navbar nav a {
	display: inline-block;
	width: 16.666667%;
	margin: 0;
	padding: 22px 0;
	text-transform: uppercase;
	color: black;
	text-align: center;
	border-right: 1px solid #ccc;
	text-decoration: none;
	font: 1em "Trebuchet MS", Arial, sans-serif;
}
#navbar nav a.selected {/*tells what page the user is on */
	background: #333;
	color: white;
}
#navbar nav a:hover {
	color: white;
	background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
}



section {
	padding: 20px;
	background-color: white;
}/*causes layout jumping*/

#promotional, #news {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*/////////Social////////*/
#social {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 40px;
	z-index: 1;
}
#social a {
	display: block;
	width: 40px;
	height: 40px;
	background-color: yellow;
}
















